@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\000032}}
.footer {
  background-color: #000;
  height: 100%;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\000037}}
  .footer .base-container {
    margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000310}}
    .footer .base-container .ul-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000316}}
.footer ul {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000324}}
.footer ul .first-link {
  font-family: 'Montserrat-SemiBold';
  color: #ffffff;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000329}}
.footer ul a {
  text-decoration: none;
  font-family: 'Montserrat-Light';
  font-size: 12px;
  color: #9b9b9b;
  letter-spacing: 0.57px;
  line-height: 28px;
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000339}}
.first-li {
  margin-top: 42px;
  margin-bottom: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000344}}
.footer ul li a:hover {
  color: #6ED102; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000348}}
.footer ul:first-child {
  padding-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000352}}
.footer-licence pre {
  font-family: 'Montserrat-Regular';
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 0.53px;
  text-align: left;
  font-weight: normal; }

@media (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000363}}
  .footer .base-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000368}}
    .footer .base-container .ul-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-line-pack: justify;
          align-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000376}}
      .footer .base-container .ul-container ul {
        text-align: center;
        margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000380}}
        .footer .base-container .ul-container ul .first-li {
          margin-bottom: 11px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mac\/Desktop\/rafflenetwork\/styles\/footer\.scss}line{font-family:\0000387}}
    .footer .base-container .footer-licence {
      margin: 1em 0; } }

/*# sourceMappingURL=footer.css.map */