header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0; }
  header nav {
    display: flex; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        display: inline-block;
        margin-left: 16px; }
        header nav ul li a {
          font-family: 'Montserrat', sans-serif;
          font-weight: normal;
          font-size: 12px;
          color: white;
          text-decoration: none; }

.base-header-container {
  margin-top: 0 !important; }

.auth {
  margin-left: 16px; }

.heading-section {
  height: 100vh;
  width: 100%;
  max-height: 750px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3); }

.heading-section .heading-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1; }

.before-circle {
  position: relative; }

.before-circle::before {
  content: "";
  position: absolute;
  left: -26px;
  bottom: 27px;
  background-color: #99E123;
  border-radius: 50px;
  width: 6px;
  height: 6px; }

.control {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  background-color: #85B52D; }
  .control::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 0 7px 13px;
    border-color: transparent transparent transparent #000;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%); }

.second-block-h3 {
  color: #0d4b31;
  margin-top: 2em; }

.mark {
  width: 100%; }

.inner-content {
  position: relative;
  margin-top: 20px;
  z-index: 999; }

.circles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto; }
  .circles::after {
    content: "";
    height: 10px;
    width: 100%;
    background-image: linear-gradient(to left, #acff00, #009a97);
    position: absolute;
    border-radius: 50px;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1; }

.circles span {
  display: block;
  width: 77px;
  height: 77px;
  border-radius: 50px; }

.gradient {
  position: absolute;
  left: -6%;
  right: -6%;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  background-color: #ddd;
  z-index: -1; }
  .gradient .span-1 {
    background-color: #99E123;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    position: absolute;
    left: 10.5%; }
  .gradient .span-2 {
    background-color: #089F90;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    position: absolute;
    right: 10.5%; }

.gradient::before {
  content: "";
  position: absolute;
  display: block;
  height: 10px;
  left: 10.5%;
  right: 10.5%;
  background: #000;
  background-image: linear-gradient(to left, #acff00, #009a97);
  border-radius: 50px; }

.one {
  background-color: #089F90; }

.two {
  background-color: #33B869; }

.three {
  background-color: #60D343; }

.four {
  background-color: #99E123; }

.circles img {
  width: 40px;
  height: 37px;
  margin: 20px 19px; }

.info-second-block {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 1140px; }

.info-card {
  flex-basis: 25%;
  flex-grow: 1;
  padding: 0 10px; }

.info-second-block h4 {
  font-family: 'Comfortaa';
  font-weight: 600;
  font-size: 20px;
  color: #0d4b31;
  letter-spacing: -0.25px;
  text-align: center;
  width: 80%;
  margin: 1.5em auto .5em; }

.info-second-block p {
  font-family: 'Montserrat';
  font-weight: lighter;
  font-size: 15px;
  color: #677556;
  letter-spacing: 1px;
  text-align: center;
  line-height: 22px; }

.button-second-block {
  text-align: center;
  margin: 30px auto; }

.three-section {
  width: 100%;
  max-height: 470px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); }
  .three-section p {
    font-size: 18px;
    font-weight: normal;
    margin: 27px 0; }

.three-section .three-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1; }

.base-container {
  margin-top: 18%; }

.middle-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start; }

.three-block-h3 {
  color: #fff; }

.button-three-block {
  text-align: center;
  margin: 30px auto; }

.four-section {
  background-color: #F0F0F0;
  min-height: 750px; }

.four-section-cards {
  width: 100%;
  position: relative; }
  .four-section-cards img {
    width: 50%;
    z-index: -1;
    float: right;
    height: 750px; }

.base-container.four-block-base-container {
  padding: 120px 0; }

.h4-four-block {
  font-family: 'Comfortaa';
  font-size: 34px;
  color: #089f90;
  letter-spacing: 1.21px;
  line-height: 43px;
  text-align: left;
  margin-top: 0; }

.p-four-block {
  font-family: 'Montserrat';
  font-size: 17px;
  color: #4a4a4a;
  letter-spacing: 1.21px;
  line-height: 43px;
  text-align: left;
  font-weight: 100; }

.five-section {
  background-color: #089F90;
  min-height: 750px; }

.five-section-cards {
  width: 100%;
  position: relative; }
  .five-section-cards img {
    width: 50%;
    z-index: -1;
    float: left;
    height: 750px; }

.base-container.five-block-base-container {
  padding: 100px 0; }

.h4-five-block {
  font-family: 'Comfortaa';
  font-size: 34px;
  color: #fff;
  letter-spacing: 1.21px;
  line-height: 43px;
  text-align: left;
  margin-top: 0;
  padding-left: 634px; }

.p-five-block {
  font-family: 'Montserrat';
  font-size: 17px;
  color: #fff;
  letter-spacing: 1.07px;
  line-height: 29px;
  text-align: left;
  font-weight: 100;
  padding-left: 634px; }
  .p-five-block p {
    text-align: left;
    margin: 30px 0;
    font-weight: 100; }

.h3-six {
  font-family: 'Comfortaa-Bold';
  font-size: 36px;
  color: #0d4b31;
  margin: 76px 0 -26px 0; }

.rising-founds {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  place-content: stretch center;
  align-items: stretch; }
  .rising-founds .svg-shape-background {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-50%); }

.svg-circle {
  margin: 0 6vw; }

.circles-gradient {
  box-sizing: border-box;
  flex: 1 1 1e-09px;
  display: flex;
  flex-direction: row;
  place-content: center;
  align-items: center; }

.info-svg {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%); }

.text-svg {
  font-family: 'Comfortaa-Bold';
  font-size: 22px;
  color: #a5a5a5;
  text-align: center;
  line-height: 26px;
  display: block; }

.number-svg {
  font-family: 'Montserrat-Bold';
  font-size: 41px;
  color: #91ce46;
  letter-spacing: 0;
  text-align: center; }

.seven-section {
  width: 100%;
  position: relative; }
  .seven-section p {
    font-family: 'Montserrat-Light';
    font-size: 17px;
    color: #4a4a4a;
    letter-spacing: 1px;
    text-align: left;
    font-weight: normal;
    max-width: 52%;
    line-height: 22px;
    margin: 0 0 0 1em; }

.seven-section .seven-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1; }

.base-container {
  margin-top: 18%; }

.middle-container.seven-middle {
  padding-top: 68px; }

.seven-block-h3 {
  font-family: 'Comfortaa-Bold';
  font-size: 36px;
  color: #0d4b31;
  text-align: left; }

.info-card-seven {
  place-content: stretch flex-start;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-bottom: 2em; }

.info-seven-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  place-content: stretch flex-start;
  align-items: stretch; }

.info-card-seven span {
  font-family: 'Comfortaa-Bold';
  font-size: 55px;
  color: #91ce46;
  text-align: left;
  min-width: 51px;
  place-content: stretch flex-start;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  box-sizing: border-box; }

.footer {
  background-color: #000;
  height: 100%;
  width: 100%; }
  .footer ul {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-right: 129px;
    margin-top: 0;
    margin-bottom: 83px; }
    .footer ul .first-link {
      font-family: 'Montserrat-SemiBold';
      color: #ffffff;
      text-align: center; }
    .footer ul a {
      text-decoration: none;
      font-family: 'Montserrat-Light';
      font-size: 12px;
      color: #9b9b9b;
      letter-spacing: 0.57px;
      line-height: 28px;
      text-align: left; }

.first-li {
  margin-top: 42px;
  margin-bottom: 30px; }

.footer ul:first-child {
  padding-left: 0; }

.footer-licence p {
  font-family: 'Montserrat-Regular';
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 0.53px;
  text-align: left;
  font-weight: normal; }

@media (min-width: 992px) {
  .rising-founds {
    margin: 5% 0; } }
@media (max-width: 991px) and (min-width: 767px) {
  .base-container {
    width: 80% !important; }

  h3 {
    font-size: 28px !important; }

  .gradient {
    left: -13%;
    right: -13%; }

  .second-section {
    margin: 0; }

  .three-section {
    height: 76vh; }
    .three-section .middle-container {
      padding-top: 0; }

  .info-card-seven p {
    max-width: 31%; } }
@media (max-width: 991px) and (min-width: 496px) {
  .rising-founds {
    max-height: 28em;
    min-height: 0; }
    .rising-founds .svg-shape-background {
      display: none; }
    .rising-founds .circles-gradient {
      padding: 3em; }

  .svg-circle {
    transform: scale(0.8); }

  .four-section, .five-section {
    display: flex;
    flex-direction: column-reverse; }
    .four-section img, .five-section img {
      width: 100%; }
    .four-section .base-container.four-block-base-container, .four-section .five-block-base-container, .five-section .base-container.four-block-base-container, .five-section .five-block-base-container {
      padding: 25px 0; }
      .four-section .base-container.four-block-base-container h4, .four-section .five-block-base-container h4, .five-section .base-container.four-block-base-container h4, .five-section .five-block-base-container h4 {
        padding-left: 0; }
      .four-section .base-container.four-block-base-container .p-five-block, .four-section .five-block-base-container .p-five-block, .five-section .base-container.four-block-base-container .p-five-block, .five-section .five-block-base-container .p-five-block {
        padding-left: 0; }
      .four-section .base-container.four-block-base-container .img-stripe, .four-section .five-block-base-container .img-stripe, .five-section .base-container.four-block-base-container .img-stripe, .five-section .five-block-base-container .img-stripe {
        width: 13%; }
    .four-section h4 br, .five-section h4 br {
      display: none; }
    .four-section p br, .five-section p br {
      display: none; } }
@media (max-width: 767px) and (min-width: 496px) {
  .gradient {
    display: none; }

  .circles::after {
    display: none; }

  .info-card p {
    display: none; }

  .second-block-h3 {
    font-size: 24px; }

  .info-card h4 {
    font-size: 15px; }

  .three-section h3 {
    font-size: 24px; }

  .three-section p {
    font-size: 16px; }

  .four-section h4, .five-section h4 {
    font-size: 20px;
    line-height: 1.5em;
    text-align: center; }
  .four-section p, .five-section p {
    font-size: 14px;
    line-height: 20px;
    text-align: center; }
  .four-section img, .five-section img {
    height: 100%; }
  .four-section .p-five-block img, .five-section .p-five-block img {
    margin: 0 auto;
    display: block; }

  .h3-six {
    font-size: 24px; }

  .svg-circle {
    transform: scale(0.7); }
    .svg-circle img {
      max-width: none; }
    .svg-circle .text-svg {
      font-size: 27px;
      margin-bottom: 0.5em; }

  .seven-section {
    background-color: #f2f2f4; }
    .seven-section img {
      display: none; }
    .seven-section .seven-middle {
      margin: 0 3em 0; }
    .seven-section .button-seven-block {
      display: flex;
      flex-direction: row;
      margin: 2em 0em; }
      .seven-section .button-seven-block button {
        width: 75%;
        margin-right: 0 !important;
        margin: 0 1em 0 0; }
      .seven-section .button-seven-block .second-button {
        margin: 0 0 0 1em; }

  .seven-block-h3 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 1em; }

  .info-card-seven p {
    font-size: 15px;
    max-width: 100%; } }
@media (max-width: 600px) {
  .mark {
    display: none; }

  .mark-min {
    display: block !important; }

  .info-card h4 {
    width: 100%; }

  .button-seven-block {
    display: flex;
    flex-direction: column !important; }
    .button-seven-block button {
      width: 100% !important;
      margin: 1em 0 !important; }

  .rising-founds {
    max-height: 100%; }

  .circles-gradient {
    display: flex;
    flex-direction: column; } }
.base-container {
  width: 1140px;
  margin: 0 auto; }

.logo {
  max-width: 314px;
  display: inline-block;
  vertical-align: top; }

ul {
  list-style: none;
  padding: 0;
  text-align: right; }
  ul li {
    display: block; }
    ul li a {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-size: 12px;
      color: white;
      text-decoration: none; }

.form-block-bg {
  background-color: #F0F0F0;
  width: 100%;
  height: 100%; }

button {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  background-color: #91BC3F;
  border-radius: 50px;
  border: none;
  margin-top: 5px;
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative; }
  button.blue {
    background-color: #3ABEBE; }
  button.black {
    background-color: #000; }
  button.gray {
    background-color: #87927A; }
  button.green {
    color: #A4D22C; }
  button.comfortaa-font {
    font-family: 'Comfortaa-Bold';
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.67px;
    text-align: center;
    padding: 15px 16px; }
  button.wide25 {
    width: 25%; }

button:after {
  content: "";
  background: #b1b1b1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1s; }

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s; }

.button-seven-block {
  text-align: center;
  margin: 30px auto;
  margin-left: 0; }

.button-seven-block.flex-button {
  display: flex;
  justify-content: space-between;
  margin: 0 0 70px; }
.button-seven-block.space-evenly {
  justify-content: space-evenly;
  margin: 21px 0 70px; }

.base-header-container button {
  display: block;
  padding: 10px; }

.btt-transparent {
  font-family: 'Comfortaa-Bold';
  font-size: 18px;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 25px;
  background-color: transparent;
  margin: 0 auto;
  margin-bottom: 80px; }

.form-button {
  margin: 13px 0 37px 0;
  font-family: 'Comfortaa-Bold';
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.67px;
  text-align: center;
  padding: 15px 16px; }

.form-button.margin-bottom {
  margin-bottom: 80px; }

.wide {
  width: 100%; }

.wide-input {
  width: 94%; }

.wide85-input {
  width: 85%; }

.wide75-input {
  width: 75%; }

.wide50 {
  width: 50%; }

input {
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #738064;
  margin-top: 5px;
  padding: 12px 16px;
  font-family: 'Montserrat-Light';
  font-size: 12px;
  color: #677556;
  letter-spacing: 0; }

input:focus {
  border: 1px solid #3ABEBE; }

.position-relative {
  position: relative; }

input[type="checkbox"] {
  border: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 !important; }

input[type="checkbox"] + span {
  display: block;
  border-radius: 50px;
  float: left;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #979797;
  position: relative; }

input[type="checkbox"] + span::before, input[type="radio"] + span::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 50px;
  background-color: #93CE43;
  display: none; }

input[type="checkbox"]:checked + span::before, input[type="radio"]:checked + span::before {
  content: "";
  display: block; }

.input-block {
  display: inline-block;
  position: relative; }
  .input-block img {
    position: absolute;
    top: 9px;
    right: -31px; }
  .input-block .top-right {
    top: 30px;
    right: 29px; }

.form-input {
  max-width: 550px;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start; }
  .form-input input {
    margin: 13px 0;
    padding: 13px 16px; }
  .form-input .info-icon {
    display: inline-block;
    margin: 0px 0 0 14px; }
  .form-input .margin-right-img {
    margin: 0 0px 0 65px; }
  .form-input .input-2 {
    display: flex;
    justify-content: space-between; }
    .form-input .input-2 .marg-input-flex {
      margin-right: 21px; }

.tooltip-container {
  display: inline-block; }

.tooltip {
  position: relative;
  display: inline-block; }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #3ABEBE;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 147%;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s; }

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #3ABEBE transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

input::placeholder {
  font-size: 12px; }

.position-relative .label-text {
  padding: 0 0 0 10px;
  font-family: 'Montserrat-Light';
  font-size: 12px;
  color: #677556;
  letter-spacing: 0;
  text-align: center; }
  .position-relative .label-text.blue {
    color: #3ABEBE; }

.margin-25-0 {
  margin: 25px 0; }

.header-background-img {
  width: 100%;
  background-size: cover;
  height: 436px; }

.input-block input {
  margin-top: 0;
  padding: 12px 47px 12px 16px; }

fieldset {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 162px; }
  fieldset button {
    margin-left: 21px;
    margin-top: 0; }

h1 {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 46px;
  color: #ffffff;
  letter-spacing: 1.64px;
  text-align: center; }

p {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 25px; }
  p.grey-green {
    color: #0d4b31; }
  p.monserat-light {
    font-family: 'Montserrat-Light';
    font-size: 12px;
    color: #677556;
    letter-spacing: 0;
    font-weight: normal; }

a {
  color: #91BC3E;
  text-decoration: none; }

h3 {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 36px;
  text-align: center; }

.margin-h3 {
  display: inline-block;
  margin-top: 126px;
  margin-bottom: 126px;
  margin-right: 254px; }

.h3-white {
  display: inline-block;
  color: #ffffff;
  letter-spacing: 1.28px;
  margin-bottom: 0; }

h4 {
  font-family: 'Comfortaa-Bold';
  font-size: 28px;
  color: #3abebe;
  text-align: center;
  margin: 0 auto; }
  h4.grey-green {
    color: #0d4b31; }

.h4-form {
  padding: 57px 0 23px 0; }

h5 {
  font-family: 'Comfortaa-Bold';
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 25px; }

.inline {
  display: inline-block; }

.svg-circle {
  position: relative;
  width: 383px;
  height: 383px;
  background: #fff;
  border-radius: 100%; }
  .svg-circle .svg-circle-inner {
    position: absolute;
    top: 19%;
    right: 0px;
    bottom: 0;
    left: 19%;
    transform: scale(1.2); }

.margin {
  margin-top: 0;
  margin-bottom: 80px; }

.no-margin {
  margin: 0; }

.margin-button {
  margin: 20px auto; }

.margin-item {
  margin: 20px auto; }

.img81 {
  max-width: 81%; }

.img-absolute {
  position: absolute;
  top: 9px;
  right: 51%; }

.input-width {
  width: 96%; }
  .input-width.padding-margin {
    padding: 12px 37px 12px 16px;
    margin: 0; }

textarea {
  font-family: 'Montserrat-Light';
  font-size: 12px;
  color: #677556;
  letter-spacing: 0;
  background-color: #fff;
  border-radius: 19px;
  border: 1px solid #738064;
  margin: 13px 0;
  padding: 13px 16px;
  resize: none; }

textarea::placeholder {
  font-size: 12px; }

textarea:focus {
  border: 1px solid #3ABEBE; }

select {
  font-family: 'Montserrat-Light';
  font-size: 12px;
  color: #677556;
  letter-spacing: 0;
  background-color: #fff;
  -webkit-appearance: none;
  -webkit-border-radius: 50px;
  border: 1px solid #738064;
  margin: 13px 0;
  padding: 13px 16px;
  resize: none; }

select::placeholder {
  font-size: 12px; }

select:focus {
  border: 1px solid #3ABEBE; }

.flex {
  display: flex; }
  .flex .row {
    flex-direction: row; }
  .flex .column {
    flex-direction: column; }
  .flex .center {
    justify-content: center; }
  .flex .between {
    justify-content: space-between; }

.flex-card {
  display: flex;
  justify-content: space-between; }

.flex-card input[type="checkbox"]:checked ~ .label-text, .flex-card input[type="radio"]:checked ~ .label-text {
  color: #3ABEBE;
  font-weight: bold; }

input[type="radio"] {
  border: none;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 !important;
  display: none; }

input[type="radio"] + span {
  display: block;
  border-radius: 50px;
  float: left;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #979797;
  position: relative; }

.text-left {
  text-align: left; }
  .text-left a {
    font-family: 'Montserrat-SemiBold';
    font-size: 12px;
    color: #3abebe;
    letter-spacing: 0;
    text-align: center; }

.auth {
  margin-left: 16px; }

.right-content-header {
  float: right; }
  .right-content-header .icon-organizer {
    float: right;
    display: block;
    margin: 10px 0; }
    .right-content-header .icon-organizer img {
      margin-left: 13px; }

.right-content-header ul {
  border-bottom: 1px dashed #fff;
  padding: 20px 0; }

.right-content-header ul li a {
  font-family: 'Comfortaa-Bold';
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0.1px;
  text-align: right;
  line-height: 22px; }

.right-content-header .button {
  text-align: right;
  float: right; }

.right-content-header .button button {
  background-color: transparent;
  font-family: 'Comfortaa-Bold';
  font-size: 13px;
  color: #6ED102;
  letter-spacing: 0.1px;
  text-align: right;
  line-height: 22px;
  padding: 0; }

.my-contacts {
  background-color: #F0F0F0;
  width: 100%;
  height: 100%; }
  .my-contacts .top-mycontacts {
    padding: 76px 0; }

.my-contacts h4 {
  font-family: 'Comfortaa-Bold';
  font-size: 28px;
  color: #000000;
  text-align: center;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0; }

.number-page {
  display: inline-block;
  float: right; }
  .number-page ul {
    display: inline-block; }
    .number-page ul li {
      display: inline-block;
      color: #575F4D;
      font-weight: 600;
      padding: 0 4px; }

.li1.active {
  color: #91BC3F; }

.number-page nav span {
  color: #91BC3F;
  letter-spacing: 1px;
  margin: 0 14px; }

table {
  line-height: 50px; }

.table {
  padding: 0 0 70px 0; }

.table .th {
  font-family: 'Montserrat-SemiBold';
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  text-align: left; }

.table .td-first {
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  color: #91bc3f;
  letter-spacing: 0;
  text-align: left;
  text-decoration: underline; }

.table td {
  font-family: 'Montserrat-Regular';
  font-size: 14px;
  color: #8c8c8c;
  letter-spacing: 0;
  text-align: left; }

.table .three-thtd {
  padding: 0 78px 0 0; }

.table .last-td {
  padding: 0 9px 0 21px; }

.footer {
  background-color: #000;
  height: 100%;
  width: 100%; }
  .footer .base-container {
    margin: 0 auto; }
    .footer .base-container .ul-container {
      display: flex;
      justify-content: space-around; }

.footer ul {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 0;
  padding: 0; }

.footer ul .first-link {
  font-family: 'Montserrat-SemiBold';
  color: #ffffff;
  text-align: center; }

.footer ul a {
  text-decoration: none;
  font-family: 'Montserrat-Light';
  font-size: 12px;
  color: #9b9b9b;
  letter-spacing: 0.57px;
  line-height: 28px;
  text-align: left; }

.first-li {
  margin-top: 42px;
  margin-bottom: 30px; }

.footer ul li a:hover {
  color: #6ED102; }

.footer ul:first-child {
  padding-left: 0; }

.footer-licence pre {
  font-family: 'Montserrat-Regular';
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 0.53px;
  text-align: left;
  font-weight: normal; }

@media (max-width: 600px) {
  .footer .base-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .base-container .ul-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      align-content: space-between; }
      .footer .base-container .ul-container ul {
        text-align: center;
        margin-bottom: 0; }
        .footer .base-container .ul-container ul .first-li {
          margin-bottom: 11px; }
    .footer .base-container .footer-licence {
      margin: 1em 0; } }
.heading-section {
  height: 100%;
  width: 100%;
  max-height: 750px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); }
  .heading-section.small {
    max-height: 336px; }
  .heading-section .header-top {
    margin-top: 10px; }

.heading-section .heading-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1; }

.header-menu {
  float: right; }

.base-header-container {
  display: block;
  text-align: center; }
  .base-header-container h3 {
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1.28px;
    color: #fff;
    margin-top: 58px; }
  .base-header-container.float-right {
    float: right; }

h1 span h1 {
  display: inline-block;
  margin: 3% 2%; }

.menu-toggle {
  height: 25px;
  width: 35px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  margin-top: 0;
  padding: 0; }
  .menu-toggle::after {
    display: none; }
  .menu-toggle:hover span {
    background-color: #d3d1d1; }
  .menu-toggle span {
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 9px;
    height: 3px;
    margin-top: 8px;
    transition: background-color 0.2s; }
  .menu-toggle span:first-child {
    margin-top: 0; }

@media (max-width: 991px) {
  .base-container {
    width: 80% !important; }

  .heading-section {
    min-height: 400px !important; }

  .header-menu nav {
    display: none; }

  .menu-toggle {
    display: block !important;
    margin-top: 38%; }

  .logo {
    max-width: 36% !important; } }
@media screen and (max-width: 767px) {
  .logo {
    width: 76px;
    height: 76px; } }
@media (max-width: 991px) and (min-width: 767px) {
  h1 {
    font-size: 38px;
    letter-spacing: 0; }

  .before-circle::before {
    content: "";
    bottom: 22px;
    left: -8px; } }
@media (max-width: 960px) and (min-width: 496px) {
  .base-header-container p {
    display: none; } }
@media (max-width: 767px) and (min-width: 496px) {
  .base-header-container h1 {
    font-size: 20px; }
    .base-header-container h1 span h1 {
      display: block; }

  .before-circle::before {
    content: "";
    left: -3px;
    bottom: 8px; } }
.span-container {
  position: relative; }

.line-grey {
  height: 10px;
  width: 449px;
  background-color: #ddd;
  position: absolute;
  right: 26%;
  top: 160px;
  border-radius: 50px; }

.span-card h4 {
  font-size: 36px; }

.span-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 122px;
  position: relative; }
  .span-wrap .span-card {
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 40px; }
    .span-wrap .span-card .span-item {
      display: block;
      width: 235px;
      height: 235px;
      border-radius: 50%;
      margin: 0 auto; }
      .span-wrap .span-card .span-item.blue {
        background-color: #3ABEBE; }
      .span-wrap .span-card .span-item.green {
        background-color: #91BC3F; }
    .span-wrap .span-card img {
      margin: 28% auto; }
    .span-wrap .span-card p {
      font-family: 'Montserrat-Light';
      font-weight: normal;
      font-size: 15px;
      color: #677556;
      letter-spacing: 1px;
      text-align: center;
      line-height: 22px; }

@media (min-width: 1200px) {
  .span-card {
    width: 43%; } }
@media screen and (max-width: 1200px) {
  .base-header-container h3 {
    font-size: 28px;
    width: 100%; }

  .logo {
    width: 260px;
    height: 45px; }

  .header-menu li {
    display: none; }
    .header-menu li .header-menu li:last-child {
      display: block; }

  .bg-img-header {
    max-width: 100%;
    height: auto; } }
@media (max-width: 1200px) and (min-width: 992px) {
  .bg-img-header {
    right: auto;
    left: -29%;
    width: auto;
    max-width: 143%;
    height: 100%; }

  .span-item {
    width: 200px !important;
    height: 200px !important; }

  .line-grey {
    display: none; }

  .span-card {
    width: 48%; }

  .span-card h4 {
    font-size: 28px; } }
@media (max-width: 991px) and (min-width: 768px) {
  .span-card {
    width: 43% !important; }
    .span-card h4 {
      font-size: 28px; } }
@media (max-width: 991px) {
  .heading-section {
    min-height: 270px !important; }

  .span-item {
    width: 150px !important;
    height: 150px !important; }
    .span-item img {
      height: 44%; }

  .span-wrap {
    padding: 0; }

  .span-card button {
    width: 100%; } }
@media (max-width: 767px) {
  .logo {
    width: 76px; }

  .span-wrap {
    display: flex;
    flex-direction: column; }

  .span-card h4 {
    font-size: 24px; } }
@media (max-width: 1200px) {
  .line-grey {
    display: none; } }
input[type="checkbox"]:checked + span::before, input[type="radio"]:checked + span::before {
  content: "";
  display: block;
  background-color: #3ABEBE; }

.last-checkbox img {
  width: 8px;
  height: 6px;
  position: absolute;
  top: 8px;
  left: -14px; }

.last-checkbox input[type="checkbox"] + span::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 50px;
  border: 1px solid #3ABEBE;
  background-color: #3ABEBE; }

.phone-number {
  display: block;
  margin: 60px 0; }
  .phone-number p {
    font-family: 'Montserrat';
    font-weight: normal;
    color: #000;
    font-size: 15px;
    line-height: 0px; }
  .phone-number a {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #3ABEBE;
    font-size: 18px; }

.left-container, .right-container {
  display: inline-block; }
  .left-container .text-svg, .right-container .text-svg {
    font-family: 'Montserrat-SemiBold';
    font-size: 24px;
    color: #3dbeba;
    letter-spacing: 0;
    text-align: center; }
  .left-container .number-svg, .right-container .number-svg {
    font-family: 'Montserrat-SemiBold';
    font-size: 34px;
    color: #72c870;
    letter-spacing: 0;
    text-align: center; }

.info-after-svg {
  display: block;
  margin: 50px 0; }
  .info-after-svg pre {
    display: block;
    font-family: 'Montserrat-SemiBold';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: left; }
    .info-after-svg pre span {
      font-family: 'Montserrat-SemiBold';
      font-weight: bold;
      font-size: 16px;
      color: #91BC3F;
      letter-spacing: 0; }
  .info-after-svg p {
    display: block;
    font-family: 'Montserrat-SemiBold';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: left; }
  .info-after-svg .last-p-info {
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    font-size: 12px;
    color: #8c8c8c;
    letter-spacing: 0;
    line-height: 21px;
    text-align: left; }
    .info-after-svg .last-p-info a {
      font-family: 'Montserrat-Regular';
      font-weight: bold;
      font-size: 12px;
      color: #91BC3F;
      letter-spacing: 0;
      line-height: 21px; }

.social-media-container {
  display: flex;
  justify-content: left; }
  .social-media-container a {
    display: flex;
    align-items: center;
    padding: 2px 18px 1px 0px;
    max-width: 26px;
    overflow: hidden;
    color: #fff;
    font-family: 'Comfortaa-Bold';
    font-size: 14px;
    letter-spacing: 0.67px;
    text-align: center;
    border-radius: 50px;
    transition: max-width .2s; }
    .social-media-container a:hover {
      max-width: 160px; }
    .social-media-container a:before {
      content: "";
      display: block;
      background-color: #fff;
      border-radius: 50px;
      background-repeat: no-repeat;
      background-position: center;
      max-width: 100%;
      padding: 20px;
      margin: 0 2px;
      transform: scale(0.7); }
    .social-media-container a.violet {
      background-color: #4565A0; }
      .social-media-container a.violet:before {
        content: "";
        background-image: url("../images/fb-icon.png"); }
    .social-media-container a.blue {
      background-color: #2DACF1; }
      .social-media-container a.blue:before {
        content: "";
        background-image: url("../images/tw-icon.png"); }

.right-container {
  display: inline-block; }
  .right-container select {
    padding: 13px 74px 13px 16px;
    border: none;
    background-color: #000;
    color: #fff;
    font-family: Comfortaa-Bold;
    font-size: 14px;
    letter-spacing: 0.67px; }
  .right-container img {
    position: absolute;
    left: 200px;
    top: 30px; }
  .right-container .count-down {
    text-align: left;
    display: block;
    margin: 28px auto; }
    .right-container .count-down li {
      display: inline-block;
      font-family: 'Montserrat-SemiBold';
      font-weight: bold;
      font-size: 34px;
      color: #000000;
      letter-spacing: 2.43px;
      text-align: center;
      margin: auto 10px;
      position: relative; }
      .right-container .count-down li span {
        display: block;
        font-family: 'Montserrat-Regular';
        font-weight: normal;
        font-size: 10px;
        color: #738064;
        letter-spacing: 0;
        text-align: left; }
      .right-container .count-down li:last-child::before {
        display: none; }
      .right-container .count-down li:before {
        content: ":";
        font-family: 'Montserrat-SemiBold';
        font-weight: bold;
        font-size: 34px;
        color: #738064;
        letter-spacing: 2.43px;
        position: absolute;
        display: block;
        right: -17px;
        top: 11px; }

.right-bottom-container {
  display: block;
  text-align: left; }
  .right-bottom-container p {
    display: block;
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    text-align: left; }
  .right-bottom-container .user-leaderboard {
    list-style: none;
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 40px; }
    .right-bottom-container .user-leaderboard li {
      display: flex;
      justify-content: space-between;
      font-family: 'Montserrat-Regular';
      font-weight: normal;
      font-size: 14px;
      color: #3cbebb;
      letter-spacing: 0;
      text-align: left;
      margin: 30px auto; }
      .right-bottom-container .user-leaderboard li .leaderboard-line-grey {
        height: 12px;
        width: 476px;
        flex-basis: 75%;
        background-color: #F2F0F0;
        border-radius: 50px;
        border: 1px solid #738064;
        position: relative; }
        .right-bottom-container .user-leaderboard li .leaderboard-line-grey span {
          position: absolute;
          display: block;
          height: 12px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-image: linear-gradient(to left, #acff00, #009a97);
          border-radius: 50px; }

.font-monsterat {
  font-family: 'Montserrat-SemiBold';
  font-weight: bold;
  color: #575f4d;
  letter-spacing: 0;
  text-align: center; }

.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50px; }
  .popup .form-input {
    max-width: 640px; }

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4); }

body {
  margin: 0;
  padding: 0; }

* {
  -webkit-font-smoothing: antialiased; }

.base-container {
  width: 90%;
  margin: 0 auto; }

img {
  max-width: 100%; }

.logo {
  max-width: 314px; }

.clearfix {
  clear: both; }

.text-center {
  text-align: center; }

* {
  outline: none !important; }

.no-gutters {
  margin: 0 !important; }

.box-sizing {
  box-sizing: border-box !important; }

/*# sourceMappingURL=main.css.map */
